div {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    height: 150px;
    overflow: auto;
    width: 300px;
    text-align: left;
    background-image: linear-gradient(darkcyan, cyan);
    position: relative;
}

button {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 0;
    right: 0;
    margin: 5px;
    cursor: pointer;
}